<div class="links">
<div class="accordion">
  <ul>
    <li>
      <div>

        <a href="https://arcane-retreat-83737.herokuapp.com/" class="sliderLink">
          <h2>Recipe Book App</h2>
          <p>Recipe Book App using MEAN stack</p>
          <p> Database stored in mLab </p>
          <p>Deployed on Heroku </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="http://teamoliveirabjj.com/" class="sliderLink">
          <h2>WordPress Website</h2>
          <p>The website using WordPress Platform
          </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="https://simplewebby.herokuapp.com/#gallery" class="sliderLink">
          <h2>Simplewebby.com</h2>
          <p>Simplewebby.com using REACT.JS</p>
          <p>Deployed on Heroku </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="https://polar-reef-56085.herokuapp.com/#/" class="sliderLink">
          <h2>App for HR Management </h2>
          <p>Small HR Management App using Vue.js</p>
          <p>and utilizing mLab service.</p>
          <p>Deployed on Heroku </p>
        </a>
      </div>
    </li>
  </ul>
</div>
</div>
